@import "tailwindcss";

.bg-custom-gradient {
  background: linear-gradient(135deg, #FF1A58, #FF6F61);
}

/* Custom position */
.slider-container .swiper-pagination {
  position: relative;
  margin-top: 20px; 
  width: fit-content;
  text-align: center;
  /* background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 10px; */
}

/* Custom dots */
.slider-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  opacity: 1;
  transition: background-color 0.3s;
  margin: 0 5px;
}

/* Active dot style */
.slider-container .swiper-pagination-bullet-active {
  background-color: #da2aa5; 
}
